<div class="container" id="legend">
    <div class="row">
        <h4 class="legend-title">Legend</h4>
    </div>
    <a ui-sref="help({section: 'Legend'})" target="_blank" class="help-button"><span  class="glyphicon glyphicon-question-sign"></span></a>
    <span ng-click="legendVisible = false" class="glyphicon glyphicon-remove-circle close-button"></span>
    <div class="row all-items">
        <ul class="legend-ul" ng-repeat="layer in layers">
            <li class="legend-list-item">
                <label>
                    <input type="checkbox" ng-model="layer.options.visible" ng-change="toggleLayer(layer)">{{layer.name}}
                </label>
                <!-- <div ng-if="layer.renderOptions.length>1" class="dropup legend-item-edit">
                    <button class=" btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li class="dropdown-header">Symbolize By:</li>
                        <li ng-repeat="option in layer.renderOptions" ng-click="changeRendering(layer, option.id)"><a>{{option.label}}</a></li>
                    </ul>
                </div> -->
            </li>
            <li class="legend-field" ng-if="layer.style.typeIdField">{{layer.style.typeIdField}}</li>
            <ul class="legend-list" ng-repeat="field in layer.style.tblField">
                <li class="legend-field">
                    <div ng-class="layer.style.type" ng-style="{'background': field.fill, 'border-color': field.outline}"></div><span ng-hide="field.name === 'default'">{{field.name}}</span></li>
            </ul>
        </ul>
    </div>
</div>
