<navbar></navbar>
 <uib-accordion id="toolGroup" close-others="true">
    <uib-accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </uib-accordion-group>
    <street-view></street-view>
    <uib-accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </uib-accordion-group>
</uib-accordion>

<esri-map id="map" map-options="map.options"  load="onMapLoad" basemap="{{map.basemap}}">
	<!--  <esri-feature-layer ng-repeat="layer in layersOn" url="{{layer.url}}" layer-options="layer.options"></esri-feature-layer> -->
</esri-map>
