<uib-accordion-group heading="Print">
        <div id="printButton"></div>
        <form name="printForm" id="printForm">
            <label for="printForm">Layout:</label>
            <select name="printForm" id="printForm" ng-options="template as template.label for template in printTemplates" ng-change="layoutChange()" ng-model="printTemplate">
            </select>
            <button ng-click="initiatePrint(printTemplate)"><span class="glyphicon glyphicon-print"></span></button>
        </form>
        <div id="print-alert" class="alert" ng-class="printedPage.status"><a ng-href="{{printedPage.link}}" target="_blank">{{printedPage.message}}</a> <div ng-if="printWait" class="loader"></div>
        </div>
</uib-accordion-group>
