.navbar {
  background-color: #9bc19c;
  background: -webkit-linear-gradient(-270deg, #F4A259, #F4E285);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-270deg, #F4A259, #F4E285);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-270deg, #F4A259, #F4E285);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-270deg, #F4A259, #F4E285);
  /* Standard syntax */
  right: 47px;
  margin: 15px;
  min-height: 64px;
  border-top: none;
  border-bottom: none;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  display: block;
  box-shadow: 2.5px 2.5px 1px #888888; }
  .navbar .loader {
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid yellowgreen;
    border-right: 4px solid #337ab7;
    border-bottom: 4px solid #cdb433;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-right: 1.5em; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .navbar .nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .navbar .btn-group {
    margin-right: 1em; }
  .navbar .title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 12px 0 10px 10px;
    color: white; }
    .navbar .title-block h3 {
      margin: 0 .2em; }

@media screen and (max-width: 370px) {
  .title-block {
    display: none !important; }

  .nav-elements {
    margin: 1em; } }
.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.esriSignInDialog {
  border: solid #719971 1px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 2.5px 2.5px 1px #888888; }

.dijitDialogPaneContentArea > div:first-child {
  display: none; }

.dijitButtonNode.dijitButtonNode {
  border: none; }

.dijitDialogTitleBar {
  font-size: 1.5em;
  text-align: center; }

.dijitInputInner {
  width: 100%; }

.dijitValidationInner {
  display: none; }

#signIn {
  left: 35%;
  top: 35%;
  position: fixed;
  z-index: 500;
  width: 20%;
  border-radius: 5%;
  background-color: white;
  border: 1px solid #719971;
  min-width: 225px;
  max-height: 500px;
  box-shadow: 2.5px 2.5px 1px #888888;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 50px;
  padding: 0px 15px 15px 15px;
  overflow: hidden; }

#signIn button {
  margin-top: 10px; }

.modal-close {
  position: absolute;
  right: 2px;
  top: 2px; }

#map_canvas {
  width: 500px;
  height: 500px;
  margin: auto; }

.modal-dialog .modal-sm {
  width: 500px;
  height: 500px; }

.imagePreview {
  margin: auto;
  width: 60%;
  height: 120px;
  background: no-repeat center;
  border: 1px black solid; }

.basemapOptions:hover {
  background-color: #5B8E7D;
  color: white; }

.basemapOptions {
  list-style: none; }

.basemapOptions:before {
  content: "\2727"; }

.selectedBasemap:before {
  content: "\2726"; }

.searchList {
  padding: 5px; }

.searchInput {
  width: 75%; }

.searchBox {
  display: flex;
  justify-content: space-between; }

.searchListItems {
  list-style: none;
  margin: 10px; }

.searchListItems:before {
  content: "\2727"; }

.searchListItems:before {
  content: "\2726"; }

.searchListItems:hover {
  background-color: #cdb433;
  color: white; }

#print-alert a:link {
  text-decoration: none; }
#print-alert a {
  color: inherit; }
#print-alert a:visited {
  text-decoration: none; }
#print-alert a:hover {
  text-decoration: underline; }
#print-alert a:active {
  text-decoration: underline; }
#print-alert .loader {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  border-top: 4px solid;
  border-right: 4px solid white;
  border-bottom: 4px solid;
  width: 20px !important;
  height: 20px !important;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite !important;
  margin-right: 1.5em; }

#printForm {
  margin-bottom: 10px; }

#legend {
  left: 10px;
  top: 275px;
  position: fixed;
  z-index: 500;
  width: 20%;
  border-radius: 5%;
  background-color: white;
  border: 1px solid #719971;
  min-width: 225px;
  max-height: 500px;
  box-shadow: 2.5px 2.5px 1px #888888;
  overflow-y: scroll;
  overflow-x: hidden; }

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  border: 1px solid yellowgreen;
  border-radius: 25px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px; }

::-webkit-scrollbar-thumb {
  background: yellowgreen;
  border-radius: 25px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px; }

::-webkit-scrollbar-thumb:hover {
  background: #88ba1c; }

.legend-ul {
  -webkit-padding-start: 20px; }

.polygon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid; }

.polyline {
  width: 5px;
  height: 1px;
  padding: 1px 10px;
  margin-bottom: 4px;
  display: inline-block;
  margin-right: 5px; }

.point {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-repeat: no-repeat !important; }

.legend-list {
  padding-left: 5px; }

.legend-list-item {
  display: flex;
  justify-content: flex-start; }

.legend-item-edit {
  margin-left: 1em; }

.legend-field {
  list-style-type: none; }

.point {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 25px; }

.legend-title {
  text-align: center;
  font: 16px "Arial Black", Gadget, sans-serif;
  text-shadow: 2.5px 2.5px 1px lightgrey; }

#legend label {
  font: 13px "Arial Black", Gadget, sans-serif;
  text-shadow: 2.5px 2.5px 1px lightgrey; }

#legend li {
  font: 12px "Arial", Gadget, sans-serif; }

.close-button {
  line-height: 12px;
  /*width: 18px;
  font-size: 8pt;
  font-family: tahoma;*/
  margin-top: 1.5px;
  margin-right: 2.5px;
  position: absolute;
  top: 0;
  right: 0; }

#legend .help-button {
  line-height: 12px;
  margin-right: 15px;
  position: absolute;
  top: 0;
  right: 2.5px; }

.all-items {
  margin-left: 5px; }

.legendButton {
  position: absolute;
  top: 220px;
  left: 20px;
  z-index: 30;
  text-align: center;
  border: 1px solid #57585A;
  background-color: #FFF;
  color: #4C4C4C;
  border-radius: 5px;
  min-height: 32px !important;
  min-width: 32px !important; }

.btn-primary {
  background-color: #8CB369 !important;
  border-color: #668a46 !important; }

.panel-heading {
  background-color: #5B8E7D !important;
  color: white !important; }

.panel-default {
  border-color: #d3e2dd !important; }

#map {
  height: 100%;
  width: 100%; }

#toolGroup {
  position: fixed;
  top: 100px;
  right: 15px;
  max-width: 350px;
  z-index: 999;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: .03em;
  min-width: 350px; }

.esriSimpleSliderTL {
  top: 100px; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

/*# sourceMappingURL=index.css.map */
