$green-l-color: #69FF9F;
$green-d-color: #5FE8B7;
$blue-l-color: #76FFF5;
$blue-m-color: #5FCEE8;
$blue-d-color: #69BAFF;

.imagePreview{
    margin: auto;
    width: 60%;
    height:120px;
    background: no-repeat center;
    border: 1px black solid;
}

.basemapOptions:hover{
    background-color: $green-d-color;
    color: white;
}

.basemapOptions {
    list-style: none;
}

.basemapOptions:before {
    content: "\2727";
}

.selectedBasemap:before {
    content: "\2726";
}