.esriSignInDialog{
    border: solid #719971 1px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 2.5px 2.5px 1px #888888;
}


.dijitDialogPaneContentArea > div:first-child{
    display: none;
}

.dijitButtonNode.dijitButtonNode{
    border: none;
}

.dijitDialogTitleBar{
    font-size: 1.5em;
    text-align: center;
}

.dijitInputInner {
	width: 100%;
}

.dijitValidationInner{
	display: none;
}



#signIn {
	left: 35%; 
	top: 35%;
	position: fixed; 
	z-index: 500;
	width: 20%;
	border-radius: 5%;
	background-color: white;
	border: 1px solid #719971;
	min-width: 225px ;
	max-height: 500px;
	box-shadow: 2.5px 2.5px 1px #888888;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 50px;
	padding: 0px 15px 15px 15px;
	overflow: hidden;
}

#signIn button{
	margin-top: 10px;
}