@import 'navbar';
@import 'signin';
@import 'streetview';
@import 'basemap';
@import 'search';
@import 'print';
@import 'legend';

$grey-color: #545454;
$white-color: #D6D6CA;
$green-color: #6A9A33;
$red-color: #D43F53;
$blue-color: #00ACF3;



.btn-primary{
	background-color: $blue-color !important;
	border-color: darken($blue-color, 15%) !important;
}

.panel-heading{
    background-color: $red-color !important;
    color: white !important;
}
.panel-default {
    border-color: lighten($red-color, 40%) !important;
}

#map {
	height: 100%;
	width: 100%;
}

#toolGroup{
	position: fixed;
    top: 100px;
    right: 15px;
    max-width: 350px;
    z-index: 999;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: .03em;
    min-width: 350px;
}
.esriSimpleSliderTL {
    top: 100px;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }